<div>
  <%= flash[:notice] %>
</div>

<h1>Welcome to Bookers!!</h1>
<p>In bookers,</p>
<p>you can share and exchange your opinions , inpressions , and emotions<br/>
about various books!</p>

<!--ログイン入力画面へ-->
<%= link_to "Log in", new_user_session_path %>

<!--サインアップ入力画面へ-->
<%= link_to "Sign up", new_user_registration_path %>

<p>CopyRight Infratop.inc</p>
